:root {
  --color-text-400: #2c1e24;
  --color-text-300: #68535c;

  --color-grayscale-500: #dec1cb;
  --color-grayscale-400: #ebd3db;

  --color-beige-700: #dec1cb;
  --color-beige-600: #ebd3db;
  --color-beige-500: #f4dfe5;
  --color-beige-400: #f8e9ec;

  --color-background-400: #f8e9ec;

  --color-black-400: #2c1e24;

  --color-gray-500: #7c6770;
  --color-gray-400: #ad9ba3;

  --color-orange-400: #ff5287;

  --color-white-400: #ffffff;

  --color-cyan-500: #0086bb;
  --color-cyan-400: rgb(52, 191, 255);

  --color-text-cyan-400: #e1f5ff;
  --color-text-cyan-300: #81bdd8;

  --color-dark-blue-600: #234ba2;
  --color-dark-blue-500: #052e87;
  --color-dark-blue-400: #002474;

  --color-hologram-top: rgb(0, 53, 133);
  --color-hologram-bottom: rgba(0, 82, 145, 0.6);
}
